/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.calendar {
  border-collapse: collapse;
}

.calendar td {

  background-color: white;
  border: 1px solid #333;
  color: #ccc;
  height: 80px;
  margin: 0;
  padding: 4px;
  text-align: right;
  vertical-align: top;
  width: 80px;

}

.calendar .today {
  background-color: #6c3;
  color: black;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.calendar .today span {
  font-weight: normal;
}

.calendar .leased {
  background-color: #ccf;
  color: black;
}

.calendar .active {
  background-color: #99f;
  color: black;
}

.calendar td p, .calendar td li {
  color: black;
  font-weight: bold;
  text-align: center;
}

.calendar td li {
  text-align: left;
}
