<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th colspan="2">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= link_to group_product_path(product.fetch(:group_slug), product.fetch(:product_slug)) do %>
            <%= image_tag product.fetch(:image_paths).first, alt: "", width: 250 if product.fetch(:image_paths).any? %>
          <% end %>
        </td>
        <td>
          <%= link_to product.fetch(:name), group_product_path(product.fetch(:group_slug), product.fetch(:product_slug)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Register product", new_group_product_path(@group.fetch(:group_slug)) %>
